/*Import the Zen Grids file*/
@import "zen/_grids.scss";

/* Some useful variables*/
$page_width: 1048px;

.dri_body {
	width: $page_width;
}

.dri_header_container {
  $zen-column-count: 1;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
 
  width: 90%;
  margin: 0 auto;
  background: #999;
}

.header {
  height: 100px;
  font: 14px/190px Helvetica, sans-serif;
  text-align: center;
  border: 1px solid white;
}

.header {
  @include zen-grid-item(1, 1);
}

.container {
  $zen-column-count: 3;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
 
  width: 90%;
  margin: 0 auto;
}

.one, .two, .three, .four, .five, .six, .seven, .eight {
  height: 200px;
  font: 14px/190px Helvetica, sans-serif;
  text-align: center;
  border: 1px solid white;
}
 
.one, .two {
  height: 100px;
  font: 14px/100px Helvetica, sans-serif;
}

.one {
  @include zen-grid-item(3, 1);
}
 
.two {
  @include zen-clear();
  @include zen-grid-item(3, 1);
}
 
.nested {
  @include zen-grid-item(1, 1);
  @include zen-nested-container();
  background: #ccc;
}
 
.three {
  @include zen-grid-item(1, 2);
}

.four {
  @include zen-grid-item(1, 3);
}

.container2 {
  $zen-column-count: 4;
  $zen-gutter-width: 10px;
  @include zen-grid-container;
 
  width: 90%;
  margin: 0 auto;
  background: #999;
}
 
.five {
  @include zen-grid-item(1, 1);
}
 
.six {
  @include zen-grid-item(1, 2);
}
 
.seven {
  @include zen-grid-item(1, 3);
}
 
.eight {
  @include zen-grid-item(1, 4);
}

@media screen and (max-width:700px) {
   
  .container {
    $zen-column-count: 1;
    $zen-gutter-width: 10px; 
  }
 
    .one {
      @include zen-grid-item(1, 1);
    }
 
    .two {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
 
    .nested {
      @include zen-clear();
      @include zen-grid-item(1, 1);
      @include zen-nested-container();
      background: #ccc;
    }
 
      .three {
        @include zen-clear();
        @include zen-grid-item(1, 1);
      }
 
      .four {
        @include zen-clear();
        @include zen-grid-item(1, 1);
      }
 
  .newtest {
    $zen-column-count: 2;
    $zen-gutter-width: 10px;
  }
 
    .five, .seven {
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }
 
    .six, .eight {
      @include zen-grid-item(1, 2);
    } 
 
}